
@{
    Layout = "~/Views/Shared/_BaseMaster.cshtml";
    ViewData["Title"] = "Inbound Shipments";
}
@section scripts {
    <link rel="stylesheet" href="~/css/Index.css">
    <script src="~/assets/js/custom/home/undercons.js"></script>
}
<div>
    <img src="~/assets/images/219347-P0VB16-493.jpg" style="margin:0 auto;display:block;height:auto" />
    <div class="Wheader-1" style="text-align:center;">
        Work in progress !
    </div>
    
</div>