
@{
    ViewData["Title"] = "ePOD";
    ViewBag.SubTitle = "ePOD shipment Details";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>

    <link rel="shortcut icon" id="shorticon" href="#" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <link href="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" />
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <link href="~/assets/plugins/custom/datatables/fixedHeader.dataTables.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/global/plugins.bundle_icons.css" rel="stylesheet" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/assets/css/Common.css" rel="stylesheet" />


</head>
<body>
    <script>

        var redirecturl = '@Url.Action("ProcessShipmetTrip","GuestEPOD")';


    </script>
    
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>
    <script src="~/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/assets/plugins/custom/tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/assets/js/custom/GuestEPOD/epodtripdetails.js"></script>
</body>

</html>
